<%- include('./partials/head') %>
<main>
    <%projects.forEach((repo) => {%>

    <p><%= repo.node.owner.login %></p>
    <% console.log(repo.node.owner.avatarUrl) %>
    <img src="<%= repo.node.owner.avatarUrl %> " alt="hoofden">
    <%})%>
</main>
<%- include('./partials/foot') %>