<%- include('./components/head.ejs') -%>

<body>
    <div class="field">
        <% projects.forEach((repo) => { %>
            <div class="avatar">
                <a href="<%= repo.node.owner.url %>" target="_blank">
                    <% if (Math.max(repo.node.stargazerCount)) {%>
                        <img class="crown" src="/images/crown.png" alt="crown">
                    <%}%>
                    <img class="avatarImg" src="<%= repo.node.owner.avatarUrl %>"/>
                    <img class="poppetje" src="/images/bewegen-5.gif" alt="avatar"/>
                    <p><%= repo.node.owner.login %></p>
                </a>
            </div>
        <%})%>
    </div>
</body>
</html>